div.main {
  border-radius: 1vh;
  border: 0.3vh solid rgb(224, 224, 224);
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 1vh;
  transition: all 300ms ease;
}
div.main:hover {
  border: 0.3vh solid rgb(124, 206, 253);
  transition: all 300ms ease;
}
h2.indicator {
  margin-top: 0px;
}

button.default {
  border-radius: 0.5vh;
  background-color:white;
  height: 30px;
  width: 250px;
}

button.submit {
  margin: 0;
  position: absolute;
  left: 1vw;
  height: 30px;
  width: 98vw;
}

div.selectDiv {
  margin-left: 1vw;
}

select {
  width: 500px;
  height: 30px;
  padding-left: 1vw;
  border-radius: 0.5vh;
  background-color: white;
  border-color: rgb(224, 224, 224);
  border-width: 0.5px;
  transition: all 150ms ease;
}

select:hover {
  border-color: rgb(124, 206, 253);
  transition: all 150ms ease;
}

input {
  width: 500px; 
  height: 30px; 
  border-radius: 0.3vh;
  background-color: white;
  border-color: rgb(224, 224, 224);
  transition: all 150ms ease;
}

input:hover {
  border-color: rgb(124, 206, 253);
  transition: all 150ms ease;
}