img.aupartan{
    position: absolute;
    width: auto;
    height: 50vh;
    top: 5vh;
    left: calc(50vw - (44.45vh));
}

h2.latinthingthing{
  position: absolute;
  top: 50vh;
  width: 100%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
h2.description1{
    position: absolute;
    top: 65vh;
    width: 100%;
    text-align: center;
}
h2.description2{
    position: absolute;
    top: 70vh;
    width: 100%;
    text-align: center;
}

p.author{
    position: absolute;
    top: calc(100vh - 40px);
    left: calc(100vw - 260px);
    opacity: 0.5;
}