.map-container {
    position: relative;
    height: 95vh;
}
  
.mapboxgl-popup-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
}

div.mapSelectDiv {
  position: absolute;
  margin-top: -95vh;
  margin-left: 0vw;
}

select.mapSelect{
  box-shadow:1px 1px gray;
}